.checkout{
    display: flex;
    padding: 20px;
    background-color: #eaeded;
    height: max-content;

    animation: fadeIn 0.2s ease;
}

.checkout__ad{
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.checkout__left{
    background: white;
    padding: 20px
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}